body {
    background-color: #8ecae6;
}

.upload {
    background-color: white;
    padding: 20px;
    border-radius: 22px;
    width: 60vh;
}

.top {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 22px;
    width: 60vh;
}

.height {
    min-height: calc(100vh - 112px) !important;
}